# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Sensitive files
*.json
android/key.properties
android/app/*.jks
ios/*.p12
ios/*.mobileprovision
ios/*.p8

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

git.py
token.txt
.kotlin
.cxx
.vscode
androidkkkk

# iOS Certificates and Keys (NEVER commit these!)
*.p12
*.p8
*.cer
*.csr
*.pem
*.key
*.mobileprovision
AuthKey_*.p8
desktop.ini
key.properties
upload-keystore.jks
